/*diseño general de la pagina*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/*primer seccion*/

.fondo-inicio {
    width: 100%;
    height: 150vh;
    position: relative;
    overflow: hidden;
    background-image: url(../imgs/inicio/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

h2{
    font-size: 60px;
}

/* nav */

header {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103px;
    position: fixed;
    top: 0;
    z-index: 10009;
    transition: all 0.3s ease;
    position: fixed;
}

.box {
    margin-right: 99px;
    width: 200px;
    height: 50px;
}

.box .btn {
    box-sizing: border-box;
    width: 202px;
    height: 50px;
}

.sticky .box .btn {
    transform: scale(0.6); 
}

.sticky #btn-comprar {
    height: 40px;
    width: 151px;
}

.box .overlap-group {
    position: relative;
    width: 216px;
    height: 66px;
    top: -8px;
    left: -8px;
    background-color: #83c252;
    border-radius: 111px;
    border: 8px solid;
    border-color: #ffffff;
    box-shadow: 4px 5px 0px #02187e;
}

.box .text-wrapper {
    position: absolute;
    top: 15px;
    left: 42px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Lato-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2.20px;
    line-height: 18.9px;
}

.sticky {
        height: 60px;
        background-color: #333;
}

/* hamburguesa */

.menu-hambur-somnbra {
    position: sticky;
    top: 5px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.menu-hambur-somnbra .linea-hamburguesa {
    margin-top: -6px;
}

.menu-hambur {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    z-index: 100000;
}

.rect-hamburguesa {
    width: 38px;
    height: 8px;
    fill: #F39E46;
    stroke: white;
    stroke-width: 4;
    transition: transform 0.5s ease;
}

.sombra-hamburguesa {
    stroke-width: 4px;  
    width: 42px;
    height: 12px; 
    width: 38px;
    height: 8px;
    fill: #000080;
    stroke: none;
    transform: translate(4px, 4px);
}

.open .rect-hamburguesa {
    stroke: none;
}

.open .sombra-hamburguesa {
    display: none;
}

.menu-hambur.open .linea1 {
    animation: movimientoCruz 1s ease forwards;
}

/*keyframe para lograr formar la cruz*/

@keyframes movimientoCruz {
    0% {
        transform: translateY(1px) rotate(9);
    }
    20% {
        transform: translateY(3px) rotate(18);
    }
    60% {
        transform: translateY(6px) rotate(27);
    }
    80% {
        transform: translateY(9px) rotate(36);
    }
    100% {
        transform: translateY(12px) rotate(45deg);
    }
}

.menu-hambur.open .linea2 {
    animation: ocultarLinea 0.5s ease forwards;
}

@keyframes ocultarLinea {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.menu-hambur.open .linea3 {
    animation: movimientoCruzReversa 1s ease forwards;
    stroke: none;
    position: absolute;
}

/*keyframe para desarmar la cruz*/

@keyframes movimientoCruzReversa {
    0% {
        transform: translateY(1px) rotate(-9);
    }
    20% {
        transform: translateY(3px) rotate(-18);
    }
    60% {
        transform: translateY(6px) rotate(-27);
    }
    80% {
        transform: translateY(9px) rotate(-36);
    }
    100% {
        transform: translateY(12px) rotate(-45deg);
    }
}

/* FIN DE HAMBURGUESA */

/* animacion logo */

.logo-inicio {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s linear;
}

/* Estilo del menú desplegable */

.menu-desplegable {
    position: fixed;
    top: 100px;
    left: -100%; /* El menú empieza fuera de la pantalla */
    width: 250px;
    height: 250px;
    margin-left: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.5s ease; /* Desplazamiento del menú */
    z-index: 9999;
    border-radius: 20px;
}

.menu-desplegable ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
}

.menu-desplegable li {
    padding: 20px;
    text-align: left;
    opacity: 0;
    transform: translateX(-20%);
    transition: opacity 0.5s ease, transform 1s ease;
}

.menu-desplegable li:hover{
    background-color: #45a049;
    cursor: pointer;
}

.menu-desplegable.show {
    left: 0;
}

.menu-desplegable.show li {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s; /* Los elementos aparecen con un pequeño retraso */
}

.menu-desplegable.show li:nth-child(1) {
    transition-delay: 0.2s;
}

.menu-desplegable.show li:nth-child(2) {
    transition-delay: 0.4s;
}

.menu-desplegable.show li:nth-child(3) {
    transition-delay: 0.6s;
}

/* fin del menu desplegable */

.logo{
width: 150px;
height: 86px;
position: absolute;
left: 565px;
}

/* Estilo para el menú hamburguesa */

.nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: sticky;
    z-index: 1000;
    width: 1280px;
    height: 100%;
}

.menu-haburguesa img {
    cursor: pointer;
    width: 30px; /* Tamaño de las barras */
    height: 20px;
    transition: transform 0.3s ease; /* Transición para el cambio de imagen */
}

/* Estilo de las barras (por defecto) */

.menu-haburguesa img {
    position: relative;
    display: block;
}

.menu-haburguesa img:before, .menu-haburguesa img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    left: 0;
    transition: all 0.3s ease;
}

.menu-haburguesa img:before {
    top: 0;
}

.menu-haburguesa img:after {
    bottom: 0;
}

/* Animación para convertir las barras en una cruz */

.menu-haburguesa.open img:before {
    transform: rotate(45deg);
    top: 50%;
}

.menu-haburguesa.open img:after {
    transform: rotate(-45deg);
    bottom: 50%;
}

.menu-haburguesa.open img {
    transform: rotate(180deg); /* Rota la imagen */
}

/* Estilo del menú desplegable */

.menu-desplegable {
    position: fixed;
    top: 100px;
    left: -100%; /* El menú empieza fuera de la pantalla */
    width: 250px;
    height: 250px;
    margin-left: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.5s ease; /* Desplazamiento del menú */
    z-index: 9999;
    border-radius: 20px;
}

.menu-desplegable ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
}

.menu-desplegable li {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #444;
    opacity: 0;
    transform: translateX(-20%);
    transition: opacity 0.5s ease, transform 1s ease;
}

.menu-desplegable li:hover{
    background-color: #45a049;
    cursor: pointer;
}

.menu-desplegable.show {
    left: 0;
}

.menu-desplegable.show li {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s; /* Los elementos aparecen con un pequeño retraso */
}

.menu-desplegable.show li:nth-child(1) {
    transition-delay: 0.2s;
}

.menu-desplegable.show li:nth-child(2) {
    transition-delay: 0.4s;
}

.menu-desplegable.show li:nth-child(3) {
    transition-delay: 0.6s;
}

.nav .btn-comprar {
    width: 200px;
    height: 50px;
    background: linear-gradient(135deg, #83C252, #6EAB47);
    border: 8px solid #fff;
    border-radius: 111px;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 5px 5px 0px 0px rgba(2, 24, 126, 1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn-comprar:hover {
    background: linear-gradient(135deg, var(--collection-1-verde-secundario), #9FD974); 
    transform: translateY(-5px) scale(1.05) rotate(-3deg); 
    box-shadow: -5px 10px 20px rgba(2, 24, 126, 0.7); 
    animation: glow-pulse 1s infinite alternate; 
    color: #ffe57f; 
}

/* parte de la izquierda de la primer seccion */

.arbol-wrapper {
    position: relative; 
    z-index: 800; 
}

.arbol-uno {
    position: absolute;
    width: 560px;
    height: 867px;
    top: -1px;
    left: -153px;
    z-index: 1;
    animation: movimientoArbolUno 3s infinite linear;
}

.piedra-uno {
    position: absolute;
    height: 78px;
    width: 145px;
    top: 793px;
    left: 129px;
    right: 420px;
    bottom: 50px;
    z-index: 900;
}

.arbusto-uno {
    position: absolute;
    width: 249px;
    height: 114px;
    left: 161px;
    top: 717px;
    z-index: 800;
}

.arbusto-dos {
    position: absolute;
    width: 155.51px;
    height: 102.33px;
    top: 821.65px;
    left: 197.06px;
    z-index: 1000;
}

/* parte del medio */

.personaje-uno {
    position: absolute;
    width: 240.4px;
    height: 314.48px;
    top: 527.28px;
    left: 439px;
    transform: rotate(-6.51deg);
    transform-origin: center center; /* Rota alrededor del centro */
    z-index: 1122;
}

.box {
    width: 140px;
    position: absolute;
    height: 33px;
}

.sombra-personaje-uno{
    top: 780px;
    left: 522px;
}

.sombra-personaje-dos {
    top: 736px;
    left: 606px;
}

.sombra-personaje-tres{
    top: 697px;
    left: 696px;
}

.box .ellipse {
    width: 140px;
    height: 33px;
    top: 0;
    left: 0;
    background-color: #43673f9c;
    border-radius: 70px/16.5px;
    filter: blur(9px);
    backdrop-filter: blur(0.000001px);
    z-index: 1;
}

.personaje-dos {
    position: absolute;
    width: 197px;
    height: 270px;
    top: 426.04px;
    left: 536px;
    z-index: 1000;
    transform: rotate(-6.72deg);
}

.personaje-tres {
    position: absolute;
    width: 174px;
    height: 384px;
    top: 338px;
    left: 677.25px;
    transform: rotate(-8.73deg);
}

/* parte de la derecha */

.arbol-dos {
    position: absolute;
    width: 434.21px;
    height: 672.52px;
    top: 106.71px;
    left: 881.03px;
    z-index: 10;
    overflow: hidden;
}

.arbol-tres {
    position: absolute;
    width: 278.03px;
    height: 430.85px;
    top: 278.38px;
    left: 1080.97px;
    gap: 0px;
    opacity: 0px;
    z-index: 6;
    overflow: hidden;
}

.piedra-dos {
    position: absolute;
    width: 66.65px;
    height: 56.55px;
    top: 737.5px;
    left: 1037.84px;
    transform: translate(-180deg);
    z-index: 11;
}

.piedra-tres {
    position: absolute;
    width: 59.24px;
    height: 35.01px;
    top: 784.64px;
    left: 1051.84px;
    transform: translate(-180deg);
    z-index: 14;
}

.piedra-cuatro {
    position: absolute;
    width: 113.77px;
    height: 74.05px;
    top: 737.5px;
    left: 1072.22px;
    gap: 0px;
    opacity: 0px;
    z-index: 13;
}

.arbusto-tres {
    position: absolute;
    width: 244.37px;
    height: 107.71px;
    top: 662.1px;
    left: 1080.97px;
    z-index: 7;
}

.arbusto-cuatro {
    position: absolute;
    width: 191.19px;
    height: 63.28px;
    top: 630.46px;
    left: 1028.46px;
}

/*fin de primer seccion*/

/* SEGUNDA PANTALLA */

/* texto - seccion 2 */

.contenedor-texto-divertido-h {
    position: relative;
    width: 508px;
    left: 90px;
    bottom: 100px;
    margin-top: 200px;
}

.contenedor-texto-divertido-h h3 {
    color: rgba(2, 24, 126, 1);
    font-size: 47px;
    font-weight: bold;
}

.contenedor-texto-divertido-h .contenedor-texto-divertido-p {
    margin-top: 20px;
    position: relative;
    width: 704px;
}

.contenedor-texto-divertido-h .contenedor-texto-divertido-p p {
    color: rgba(2, 24, 126, 1);
    font-size: 20px;
}

.appdivertida {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/appdivertida/fondo-inicio-2.png);
    background-repeat: no-repeat;
    flex-wrap: wrap;
    gap: 20px;
}

.gif-container {
    position: relative;
    width: 530.38px; 
    height: 324.35px;
    margin-top: 200px; 
    top: 190px;
    right: 310px;
    border: 29px solid #1B5F99;   
    border-radius: 77px;
    overflow: hidden;         
}

/* Estilos de las imágenes GIF */

.gif {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0; /* Por defecto, todas las imágenes estarán ocultas */
    transition: opacity 1s ease-in-out; /* Transición suave */
}

/* Mostrar solo una imagen a la vez */
.gif.active {
    opacity: 1;
}

/* No modificar la posición del contenedor de personajes */

.fondo-personajes {
    position: relative;
    /* overflow-x: hidden; */
}

.personaje-cuatro {
    position: relative;
    left: 786px;
    bottom: 580px;
}

.gif4 {
    position: relative;
    right: 200px;
    top: 190px;
    width: 576.38px;
    height: 324.35px;
}

.personaje-cinco {
    position: relative;
    right: 510px;
    bottom: 620px;
}

#personaje-cinco {
    transform: translateX(0);
    transition: transform 0.1s ease-out;
}

#parallax-image-1 {
    position: relative;
    transform: translateY(0);
    transition: transform 0.1s ease-out;
}

.divertida{
    font-size: 47px;
}

.texto-appdivertida{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

/*fin de segunda seccion*/

/* TERCERA PANTALLA */

/*seccion cards*/

.info-juego {
    margin-bottom: 130px;
    margin-top: 650px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 333px;
    margin: 20px;
    display: grid;
    justify-content: space-around;
    opacity: 0;  /* Iniciar ocultas */
    transform: translateY(50px);  /* Desplazadas hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease;  /* Transición suave */
}

.card p {
    margin-top: 15px;
    height: 218px;
    font-size: 20px;
    color: #333;
}

.card.show {
    opacity: 1;  /* Hacer visible */
    transform: translateY(0);  /* Desplazarse hacia arriba */
}

.card:nth-child(1).show {
    transition-delay: 0s;
}

.card:nth-child(2).show {
    transition-delay: 0.3s;
}

.card:nth-child(3).show {
    transition-delay: 0.6s;
}

/*fin de seccion cards*/

/* CUARTA PANTALLA */

/*seccion descarga*/

.seccion-descarga {
    background-image:url(../imgs/descarga/fondo-violeta.png);
    display: flex;
    flex-direction: column;  
    align-items: center;    
    justify-content: center; 
    text-align: center;      
    width: 100%;           
    height: 1157px;           
    position: relative;  /* Necesario para los movimientos de la imagen */
}

.seccion-descarga .seccion-titulo {
    padding-top: 100px;
    margin-bottom: 70px;
    width: 950px;
    height: 153px;
}

.seccion-descarga .seccion-titulo h2 {
    color: #fff;
}

.btn-descarga {
    margin-top: 50px;
    margin-bottom: -30px;  
    padding: 12px 24px;  
    font-size: 30px;      
    background-color: #83C252; 
    color: white;        
    border: 8px solid #fff;      
    border-radius: 50px;  
    transition: background-color 0.3s ease; 
    z-index: 20;
}

.btn-descarga:hover {
    cursor: pointer;     
    background-color: #45a049; /* Cambio de color al pasar el mouse */
}

.seccion-descarga .seccion-imagen {
    display: flex;
    width: 100%;
    height: 717px;
    position: relative;
    overflow: hidden; 
}

.seccion-imagen img {
    width: 100%;
    margin-top: 60px;
    object-fit: cover;
    transition: transform 0.1s ease;
    will-change: transform;
    transform: scale(1.1);  /* Escala la imagen al 120% de su tamaño original */
}

/*fin de seccion descarga*/

/* quinta pantalla */

/*seccion textos*/

.textos .contenedor-titulo {
    display: flex;
    width: 802px;
    height: 57px;
    margin: 170px 0 120px 100px;
}

.textos .contenedor-titulo h2 {
    font-size: 60px;
    font-family: "lato";
}
.textos .contenedor-general-amigos {
    bottom: 20px;
    width: 100%;
    display: grid;
    justify-content: space-around;
    margin-bottom: 100px;
}

.contenedor-info {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto 40%;
    margin: 10px;
}

.contenedor-info .img {
    display: flex;
    width: 500px;
    justify-content: center;
    margin-bottom: 40px;
}

.contenedor-info .img img {
    opacity: 0;
    transition: .5s;
}

.contenedor-info .text {
    margin-top: 80px;
}

.contenedor-general-amigos .contenedor-info h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.contenedor-general-amigos .contenedor-info p {
    font-size: 20px;
}

.textos .contenedor-img {
    display: flex;
    justify-content: center;
    overflow: hidden;  /* Para evitar el desbordamiento de imágenes */
    width: 100%;
    height: 100%;
    margin-top: -50px;
}

.contenedor-img img {
    opacity: 0;
    transition: 1s;
}

/*fin de seccion textos*/

/*seccion video*/

.video{
    background-image: url(../imgs/video/fondo-amarillo.png);
    display: flex;
    justify-content: center;
    height: 1443px;
    position: relative;
    overflow-x: hidden;
    z-index: 0;
}

.titulo-container{
    margin-left: 100px;
}

.titulo-container h2{
    color: #fff;
    width: 802px;
    height: 171px;
    margin-bottom: 50px;
    margin-top: 200px;
}

.tres{
    margin-top: 270px;
    margin-left: -170px;
    width: 638px;
    height: 989px; 
    position: relative;
}

#iframe{
    position: relative;
}

/*fin de seccion video*/

/*seccion 3d imagen movimiento (calculadora)*/

.tresd{
    display: flex;
    height: 1000px;
    justify-content: center;
}

.tresd div{
    margin-left: 100px;
}

.tresd h2{
    color: #9D2121;
    width: 746px;
    height: 285px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.tresd p{
    width: 467px;
}

#glb{
    width: 350px;
    height: 600px;
    margin-top: 300px;
    margin-left: -100px;
}

/*fin de seccion 3d*/

/*seccion imagenes personajes*/

.imagen-personajes {
    background-image: url(../imgs/imagen/455.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 100%;
    height: 900px;
    transition: transform .3s ease;
    /* display: grid;   */
    /* justify-content: space-evenly; */
}

.personajes {
    display: flex;
    gap: 34px;
    height: 368px;
    width: 278px;
    justify-content: space-between;
    /* display: none; */
}

.personajes2 {
    display: flex; 
    justify-content: space-between;
    margin-top: 40px;
    gap: 35px; 
    height: 320px;
    width: 370px;
    /* display: none; */
}

.personajes img.imgcorta, .personajes2 img.imgcorta{
    width: 213px;
}

.personajes img, .personajes2 img  {
    transition: transform 0.3s ease, filter 0.3s ease; 
    
}

.personajes img:hover, .personajes2 img:hover {
    transform: scale(1.1); 
    filter: brightness(1.3);
}

/*fin de seccion imagenes*/

/*seccion novedades*/

.novedades {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Para evitar que las nubes se desborden fuera del contenedor */
}

.nov-fondo {
    background-image: url(../imgs/novedades/Rectangle\ 11.png);
    position: relative; /* Necesario para posicionar las nubes dentro de este contenedor */
}

.novedades h2 {
    margin-top: 145px;
    width: 816px;
    height: 171px;
}

.suscripcion-container {
    margin-top: 20px;
    z-index: 2000;
}

.nov-container {
    margin-left: 100px;
    height: 900px;
}

.nov-container .txt {
    z-index: 2000;
}

.nov-container .image {
    z-index: 2000;
}

.nubes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Para que las nubes cubran toda el área visible */
    pointer-events: none; /* Las nubes no deben interferir con la interacción con otros elementos */
}

.nube {
    position: absolute;
    bottom: 0;
    animation: moverNubes 10s linear infinite; /* Efecto parallax */
}

.nube-izquierda {
    bottom: 50px;
    right: -50%;
    width: 370px;
    height: 181px;
}

.nube-derecha1 {
    right: -30%; /* Nube 2 y 3 a la derecha del contenedor */
    bottom: -90px;
    width: 264px;
    height: 124px;
}

.nube-derecha2 {
    right: -25%; /* Nube 2 y 3 a la derecha del contenedor */
    bottom: -80px;
    width: 387px;
    height: 181px;
}

/* Animación de parallax  gifs*/

@keyframes moverNubes {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-800%);
    }
}

.gif7 {
    position: relative;
    margin-left: -300px;
    margin-top: 100px;
}

.gifs {
    background: linear-gradient(#CAE2C3 10% , #D6DAAD 90%), 
              url(../imgs/novedades/fondo-prefooter.png); /* Gradiente y luego la imagen */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay; 
}

.gif1, .gif2, .gif3 {
    position: relative;
    /* bottom: 700px; */
}

.gif1 {
    width: 480px;
    height: 480px;
    bottom: 30px;
    left: 100px;
}

.gif2 {
    width: 509px;
    height: 509px;
    bottom: 30px;
    left: -80px;
}

.gif3 {
    position: absolute;
    bottom: -60px;
    width: 560px;
    height: 997px;
    right: 50px;
}

/* imagen antes del footer */

.imagen-personajes {
    width: 100%;
}

.imagen-personajes img {
    width: 100%;
}

.container-suscripcion {
    display: grid;
    grid-template-columns: auto auto;
}

.container-suscripcion .registrado {
    display: flex;
    align-items: center;
    margin-top: 30px;
    display: none;
}

.container-suscripcion .registrado p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000080;
    width: 100px;
    height: 30px;
    padding: 20px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Contenedor general */

.suscripcion-container {
    display: flex;
    align-items: center;
    border-radius: 25px; 
    border: 9px solid white; 
    overflow: hidden; 
    background-color: #ECECEC; 
    width: 780px;
    height: 100px;
    margin-top: 50px;
}

/* Estilos del input */

.input-suscripcion {
    border: none; 
    padding: 10px;
    font-size: 20px;
    flex: 1; 
    color: black; /* Color del texto */
    background-color: #ECECEC; 
}

/* Estilos del botón */

.btn-suscripcion {
    padding: 10px 20px;
    background-color: #83C252; 
    margin-right: 10px;

    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-suscripcion:hover {
    background-color: #e67e22; 
}

.nov-container p{
    width: 578px;
    height: 95px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*fin de la seccion novedades*/



/*footer*/
footer{
    background-color: #5e5e5d;
}
.plataformas{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #242424;
}

.plataformas img{
    width: 1080px;
    height: 75px;
}

footer p{
    margin-left: 100px;
    margin-top: 20px;
    width: 820px;
    height: 361px;
    font-size: 20px;
    color: white;
}

.redes-sociales{
    margin-left: 100px;
    height: 84px;
}

.fondo-footer{
    display: flex;
    width: 100%;
}



/* SPRITES DEL FOOTER */
.sprites-container{
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-top: -50px;
}


.sprite {
    width:60px;
    height:60px;
    margin:auto;  
    background:url(../imgs/novedades/sprite1.png);
    background-size: calc(60px * 23) 60px;
    animation:walk 2s steps(23) infinite;
    position:relative;
}

.sprite2 {
    width:60px;
    height:60px;
    margin:auto;  
    background:url(../imgs/novedades/sprite2.png);
    background-size: calc(60px * 15) 60px;
    animation:walk2 1s steps(15) infinite;
    position:relative;
}

.sprite3 {
    width:60px;
    height:60px;
    margin:auto;  
    background:url(../imgs/novedades/sprite3.png);
    background-size: calc(60px * 14) 60px;
    animation:walk3 3s steps(14) infinite;
    position:relative;
}

 /* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
@keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-1380px }
}

@keyframes walk2 {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-900px }
}

@keyframes walk3 {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-840px }
}



/*FIN*/