* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.fondo {
    width: 100%;
    background-image: url(../imgs/inicio/fondo.png);
    background-size: cover;

}

/* nav */

.nav {
    width: 100%;
}

.nav nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 120px 0 120px;
}

.nav .logo-nav {
    display: none;
}

.nav .btn-comprar {
    width: 200px;
    height: 50px;
    background-color: #83C252;
    border: 8px solid #fff;
    border-radius: 111px;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 5px 5px 0px 0px rgba(2, 24, 126, 1);
    cursor: pointer;
}

/* parte de la izquierda */

.arbol-uno {
    position: relative;
    right: 120px;
    bottom: 20px;
    z-index: 800;
}

.piedra-uno {
    position: relative;
    right: 400px;
    bottom: 20px;
    z-index: 900;
}

.arbusto-uno {
    position: relative;
    right: 470px;
    top: 30px;
    z-index: 1000;
}

.arbusto-dos {
    position: relative;
    right: 650px;
    bottom: 60px;
    z-index: 700;
}

/* parte del medio */

.logo-inicio {
    position: relative;
    z-index: 1000;
    bottom: 500px;
    right: 20%;
}

.personaje-uno {
    position: relative;
    z-index: 1000;
    bottom: 750px;
    left: 750px;
}

.personaje-dos {
    position: relative;
    z-index: 900;
    bottom: 900px;
    left: 600px;
}

.personaje-tres {
    position: relative;
    z-index: 800;
    bottom: 850px;
    left: 530px;
}

/* parte de la derecha */

.arbol-dos {
    position: relative;
    z-index: 500;
    bottom: 760px;
    left: 700px;
}

.arbol-tres {
    position: relative;
    z-index: 300;
    bottom: 830px;
    left: 500px;
}

.piedra-dos {
    position: relative;
    z-index: 1000;
    bottom: 740px;
    left: 140px;
}

.piedra-tres {
    position: relative;
    z-index: 900;
    bottom: 750px;
    left: 110px;
}

.piedra-cuatro {
    position: relative;
    z-index: 700;
    bottom: 760px;
    right: 90px;
}

.arbusto-tres {
    position: relative;
    z-index: 400;
    bottom: 900px;
    left: 1670px;
}

.arbusto-cuatro {
    position: relative;
    z-index: 200;
    bottom: 970px;
    left: 1370px;
}

/* texto */

.contenedor-texto-divertido-h {
    position: relative;
    width: 508px;
    bottom: 630px;
    left: 120px;
}

.contenedor-texto-divertido-h h3 {
    color: rgba(2, 24, 126, 1);
    font-size: 47px;
    font-weight: bold;
}

.contenedor-texto-divertido-h .contenedor-texto-divertido-p {
    margin-top: 20px;
    position: relative;
    width: 704px;
}

.contenedor-texto-divertido-h .contenedor-texto-divertido-p p {
    color: rgba(2, 24, 126, 1);
    font-size: 20px;
}

.personaje-cuatro {
    position: relative;
    bottom: 900px;
}.inicio{
    background-color: brown;
}

nav{
    display: flex;
    justify-content: right;
}

p{
    font-size: 20px;
}

.appdivertida {
    display: flex;  
     background-color: aqua;
    flex-wrap: wrap;
    gap: 20px;  
}

.divertida{
    font-size: 47px;
    width: 500px;
}

.texto-appdivertida{
    justify-content:left;
    width: 640px;
    height: 350px;
    font-size: 20px;
    margin-left: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
}



.cinco{
   display: flex; 
   width: 472px;
   height: 1100px;
}

.cuatro{
    width: 600px;
    height: 600px;
    margin-top: -600px;
}

.gif4{
    width: 550px;
    height: 300px;
    margin-top: -750px;
    margin-left: 200px;
}

.card{
    width: 30%;
}

.cards{
    display: flex;
    justify-content: space-between;  
    margin-left: 50px;
    margin-right: 50px;
}

.descarga {
    background-color: violet;
    display: flex;
    flex-direction: column;  /* Organiza los elementos de arriba hacia abajo */
    align-items: center;     /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    text-align: center;      /* Alinea el texto al centro */
    padding: 20px;           /* Agrega algo de espaciado interno */
    height: 100vh;           /* Ocupa el 100% de la altura de la ventana */
}

.descarga h2 {
    margin-bottom: 20px;  /* Espacio entre el título y el botón */
    font-size: 60px;      /* Tamaño del texto del título */
}

.btn-descarga {
    margin-top: 50px;
    margin-bottom: -30px;  /* Espacio entre el botón y la imagen */
    padding: 12px 24px;   /* Espaciado interno del botón */
    font-size: 30px;      /* Tamaño del texto del botón */
    background-color: #4CAF50; /* Color de fondo */
    color: white;         /* Color del texto */
    border: 10px;
    border-color: white;         
    border-radius: 20px;   /* Bordes redondeados */
    cursor: pointer;     /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición para el color de fondo */
}

.btn-descarga:hover {
    background-color: #45a049; /* Cambio de color al pasar el mouse */
}

.descarga img {
    width: 100%;           /* Hace que la imagen ocupe todo el ancho de la pantalla */
    height: auto;
    margin-top: -20px;
}
