/* Estilos del loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 1.5s ease-out; /* Animación de aparición */
    background: linear-gradient(45deg, #ff8c00, #ff4081); /* Fondo degradado */
}

/* / Loader principal / */
.loader {
    text-align: center;
    width: 300px;
    height: 200px;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fuente divertida */
    color: #fff;
    animation: bounce 1.5s infinite alternate; /* Efecto de rebote */
    padding: 20px;
    box-shadow: 0 0 30px rgba(179, 99, 233, 0.6); /* Sombra brillante */
    border-radius: 10px;
}

.percentage {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 105, 248, 0.8); /* Sombra de texto */
    animation: glowText 1.5s ease-in-out infinite; /* Efecto de resplandor */
}

/* Barra de progreso */
.bar {
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.progress {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 0.1s ease-in-out;
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.6); /* Efecto de brillo */
    animation: grow 1s ease-out; /* Efecto de crecimiento */
}

/* Animaciones */
/*EFECTO REBOTE*/
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
/*AUMENTO DE ESCALA*/
@keyframes grow {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}
/*APARICION EN PANTALLA*/
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/*EFECTO DE SOMBREADOS*/
@keyframes glowText {
    0% { text-shadow: 2px 2px 5px rgba(238, 105, 255, 0.8); }
    50% { text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 105, 180, 1); }
    100% { text-shadow: 2px 2px 5px rgba(255, 105, 180, 0.8); }
}
